.submits {
    height: 70px;
    padding-top: 18px;
    position: absolute;
    top: 53px;
    width: 487px;
    z-index: 0;
    display: block;
    font-size: small;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

.boxes {
    height: 36px;
    line-height: 27px;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    -webkit-appearance: push-button;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
}

.bar {
    position: absolute;
    top: 311px;
    margin: 0 auto;
    padding-left: 12px;
    padding-top: 6px;
    min-width: 980px;
    z-index: 103;
    width: 100%;
    display: block;
    font-size: small;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    padding-bottom: 35px;
    display: block;
    font-size: small;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    bottom: 0px;
    font-size: 10px;
    height: 35px;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    min-width: 980px;
    font-size: small;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

.fbar {
    margin-left: -27px;
    display: block;
    line-height: 40px;
    visibility: visible;
    font-size: small;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

.flock {
    margin-left: 30px;
    white-space: nowrap;
    font-size: small;
    line-height: 40px;
    visibility: visible;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    position: absolute;
    height: 30px;
    top: -295px;
    right: 0px;
    width: 100%;
    list-style-type: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5f6368;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li a {
    display: inline-block;
    width: 30px;
    color: white;
    text-align: center;
    padding-left: 15px;
    text-decoration: none;
}

li a:hover {
    background-color: darkslategrey;
}

body {
    height: 100%;
    margin: 0%;
    display: block;
    background-attachment: scroll;
    background-clip: border-box;
}

#viewport {
    position: absolute;
    min-height: 100%;
    min-width: 980px;
    top: 0;
    width: 980px;
    margin: 0 auto;
    display: block;
}